<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dast.back.mapper.ApiSecretMapper">



    <select id="selectList" resultType="com.dast.back.Bean.ApiSecret">
        SELECT * FROM apisecret
    </select>

    <insert id="insert">
        INSERT INTO apisecret (id,name,apiSecret,status) values(#{id},#{name},#{apiSecret},1)
    </insert>

    <update id="update">
        update apisecret set apiSecret=#{apiSecret} where id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM apisecret WHERE id = #{id}
    </delete>

    <update id="updateStatus">
        update apisecret set status=#{status} where id=#{id}
    </update>

    <select id="selectOne" resultType="com.dast.back.Bean.ApiSecret">
        select * from apisecret where apiSecret=#{api}
    </select>

</mapper>
