<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dast.back.mapper.ReportMapper">

    <insert id="insertReport" parameterType="com.dast.back.Bean.TaskReport">
        INSERT INTO task_report (task_id, report_path,status,name,source,groupId)
        VALUES (#{task_id}, #{report_path},#{status},#{name},#{source},#{groupId})
    </insert>

    <update id="updateStatus">
        UPDATE task_report SET status = #{status} WHERE groupId = #{groupId}
    </update>

    <update id="updateTaskStatus">
        UPDATE tasks SET status = #{status} WHERE id = #{id}
    </update>

    <select id="getReportsByTaskId"  resultType="com.dast.back.Bean.TaskReport">
        SELECT * FROM task_report WHERE task_id = #{task_id} AND status = 1 AND source=#{source}  AND groupId=#{groupId} ORDER BY create_time DESC
    </select>


    <select id="getReportsByGroupIdAll"  resultType="com.dast.back.Bean.TaskReport">
        SELECT * FROM task_report WHERE groupId=#{groupId}
    </select>

    <select id="getReportPathById"  resultType="string">
        SELECT report_path FROM task_report WHERE id = #{id} AND task_id=#{task_id}
    </select>

    <delete id="deleteReportById">
        DELETE FROM task_report WHERE id = #{id} AND task_id = #{task_id};
    </delete>


    <select id="getLatestReportByTaskId"  resultType="com.dast.back.Bean.TaskReport">
        SELECT * FROM task_report WHERE task_id = #{task_id} AND status = 1 AND source=#{source}  AND groupId=#{groupId} ORDER BY create_time DESC LIMIT #{size}
    </select>


    <select id="getLatestReportsByGroup"  resultType="com.dast.back.Bean.TaskReport">
        SELECT * FROM task_report WHERE  status = 1 AND source=#{source}  AND groupId=#{groupId} AND report_path=#{report_path} ORDER BY create_time
    </select>

<!--    <select id="getLatestReportsByGroup" resultType="com.dast.back.Bean.TaskReport">-->
    <!--        SELECT tr.*-->
    <!--        FROM task_report tr-->
    <!--                 INNER JOIN (-->
    <!--            SELECT task_id, MAX(create_time) AS max_time-->
    <!--            FROM task_report-->
    <!--            WHERE status = 1-->
    <!--              AND source = #{source}-->
    <!--              AND groupId = #{groupId}-->
    <!--            GROUP BY task_id-->
    <!--        ) t2-->
    <!--                            ON tr.task_id = t2.task_id AND tr.create_time = t2.max_time-->
    <!--        WHERE tr.status = 1-->
    <!--          AND tr.source = #{source}-->
    <!--          AND tr.groupId = #{groupId}-->
    <!--        ORDER BY tr.create_time DESC-->
    <!--    </select>-->





</mapper>
