<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dast.back.mapper.WebHookMapper">

    <select id="selectById" resultType="com.dast.back.Bean.WebHook">
        SELECT * FROM webhook WHERE id = #{id}
    </select>

    <select id="selectList" resultType="com.dast.back.Bean.WebHook">
        SELECT * FROM webhook
    </select>

    <insert id="insert">
        INSERT INTO webhook (id,name,webhookurl,secret) values(#{id},#{name},#{webhookurl},#{secret})
    </insert>

    <update id="update">
        update webhook set name=#{name},webhookurl=#{webhookurl},secret=#{secret} where id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM webhook WHERE id = #{id}
    </delete>

</mapper>
